.notification {
    font-size: 20px;
    padding:5px;
    background-color: rgb(242, 243, 241);
    margin-bottom: 10px;
    font-weight:bold;

}
.success {
    color:rgb(7, 57, 7);
    border: 4px solid rgb(18, 240, 18);

}
.error {
    color:rgb(110, 30, 4);
    border: 4px solid rgb(240, 85, 18);
}